@import "../../variables.scss";

.projectcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $background-color;
  border: 1px solid $border-color;
  color: $primary-color;
  cursor: pointer;

  width: 250px;
  height: 120px;
  margin: 10px;
  padding: 10px;
}

.selected-card {
  border: 1px solid $select-color;
}

.text {
  flex-grow: 1;
}

.name {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.add-project {
  color: $secondary-color;
  font-size: 1.1rem;
  display: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 0;
}
