nav.menu {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
nav.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.menu ul li {
  display: inline-block;
}

nav.menu .text {
  padding: 8px;
  color: #eee;
}

.link {
  text-decoration: none;
  color: #eee;
}
