@import "./variables.scss";

html,
body {
  font-family: arial, sans-serif;
  height: 100%;
  margin: 0px;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Routing {
  display: flex;
  flex-direction: row;
  flex-grow: 10;
}

nav.menu {
  background-color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
nav.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.menu ul li {
  display: inline-block;
}

nav.menu .text {
  padding: 8px;
  color: #eee;
}

.page-navigation {
  display: flex;
  align-items: center;
  color: #eee;
}

.page-navigation__name {
  margin: 0 5px 0 5px;
}

.link {
  text-decoration: none;
  color: #eee;
}

.Sidebar {
  width: 80px;
  background-color: #222;
  padding: 0px;
}

.SidebarButton {
  color: #bbb;
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  text-align: center;
}

.SidebarButton:hover {
  background: #666;
}

.button {
  background: #333;
  color: $text-color;
  padding: 6px;
  margin: 4px;
  border: 1px solid #777;
  cursor: pointer;
}

.button:hover {
  background: #666;
}

.left-border {
  border-left: 1px solid #333;
}
.border-right {
  border-right: 1px solid #333;
}
.border-bottom {
  border-bottom: 1px solid #333;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Workspace {
  flex-grow: 0;
  width: 200px;
  background-color: $bk-color;
  color: $text-color;
}

.scrolling {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.GraphicView {
  flex-grow: 10;
  background-color: #eee;
}

.status {
  background-color: #222;
  color: #bbb;
  flex-grow: 0;

  height: 25px;
  display: flex;
  flex-direction: row;
  div {
    margin-right: 10px;
  }
}

.middle-content {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
}

.Modal {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 40, 42);
  color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  height: 100%;
}

.ModalTitle {
  display: flex;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #666;
}

.ModalContent {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  height: 100%;
}

.fix-width-300 {
  flex-grow: 0;
  width: 250px;
  background-color: #222;
  height: 100%;
  padding: 0px;
}

.flex-grow {
  flex-grow: 10;
}

.pagenavigator {
  height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.pagelist {
  flex-grow: 0;
}

.properties {
  height: 200px;
  flex-grow: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  color: $text-color-dimmed;
  padding: 5px;
  &:hover {
    background-color: $bk-color-hover;
    cursor: pointer;
  }
  .list-item__name {
    flex-grow: 1;
    &:hover + .show-on-select {
      display: block;
    }
  }
}

.show-on-select {
  display: none;
  &:hover {
    display: block;
  }
}
.list-item__select {
  border-radius: 0px;
  margin: 0px;
  margin-left: auto;
}

.active {
  background: $bk-color-selected;
  color: $text-color;
}

.showtop {
  background-color: #eaa;
  z-index: 10;
}

.drawingworkspace {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.canvas-frame {
  flex-grow: 10;
  background-color: #eee;
}
.canvas {
  cursor: arrow;
  outline: none;
}

.symbollist-canvas {
  cursor: pointer;
}

.ObjectView {
  width: 200px;
  background-color: $bk-color;
  color: $text-color;
  padding: 0px;
}

.PropertyView {
  height: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 8px;
}

.prop-name {
  color: $text-color-dimmed;
  width: 70px;
  font-weight: 300;
  flex-grow: 0;
}

.prop-value {
  background-color: $bk-color;
  color: $text-color;
  flex-grow: 1;
  outline: none;
  border: 1px solid $text-color-dimmed;
  padding: 3px;
  box-sizing: border-box;
}

.prop-value:focus {
  border: 2px solid $bk-color-selected;
}
.prop-value:read-only {
}

.html-canvas {
  position: absolute;
  left: 81px;
  top: 45px;
}

.toolbar {
  display: flex;
  align-items: center;
  border: 1px solid $text-color;
  background-color: $tool-bar-back-color;
  border: 1px solid $back;

  button {
    width: $tool-button-size;
    height: $tool-button-size;
    background-color: $tool-button-back-color;
    color: $tool-button-color;
    border-radius: 0px;
    font-size: 22px;
    border: none;
    margin: 2px;
    padding: 0px;
    outline: none;
  }
  button:hover {
    background-color: $tool-button-hover-back-color;
    color: $tool-button-hover-color;
  }
}

.flexdirection--column {
  flex-direction: column;
}
.flexdirection--row {
  flex-direction: row;
}

.zoom-toolbar {
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.draw-toolbar {
  position: fixed;
  top: 60px;
  left: 100px;
}
