$background-color: rgb(229, 229, 229);
$border-color: rgb(200, 200, 200);

$primary-color: rgb(33, 33, 33);
$secondary-color: #30c2ff;
$secondary-dimmed-color: rgba(121, 128, 235, 0.1);

$select-color: $secondary-color;
