$background-color: rgb(229, 229, 229);
$border-color: rgb(200, 200, 200);

$primary-color: rgb(33, 33, 33);
$secondary-color: #30c2ff;
$secondary-color-dimmed: rgba(121, 128, 235, 0.1);

$select-color: $secondary-color;

$text-color: #f1f1f1;
$text-color-dimmed: #a1a1a1;

$bk-color: #313131;
$bk-color-selected: #2f797e;
$bk-color-hover: #636363;

$menu-background-color: rgba(34, 32, 32, 0.692);
$menu-text-color: rgb(185, 179, 179);
